:root {
  --accent: #D7B399;
  --dark: #212121;
  --light: #F9F6F1;
  --gray: #CBCFD4;
  --light-gray: #f4f4f4;
  --dark-gray: #8d8d8d;
  --important: #d84033;
}

body {
  font-family: "Roboto", sans-serif;
}

.page {
  padding-top: 5px;
  padding-bottom: 20px;
}

.page-light {
  background-color: #F9F6F1;
}

.page-dark {
  background-color: #212121;
}

.wrapper {
  max-width: 1110px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 26px;
  padding-top: 46px;
  background-color: #F9F6F1;
}

.nav {
  display: flex;
  list-style-type: none;
  padding-left: 0;
}

.nav-item {
  margin-right: 52px;
}
.nav-link {
  text-decoration: none;
  font-weight: bold; 
  font-size: 20px;
}

.logo {
  width: 300px;
  height: auto;
}

.title-h2 {
  text-align: center;
  font-size: 36px;
}

.btn {
  background-color: #D7B399;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-center {
  display: block;
  text-align: center;
  max-width: 200px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

.btn img {
  width: 30px;
  height: 30px;

  vertical-align:middle;
}

.btn-xs {
  padding: 10px 20px;
  border-radius: 20px;
  vertical-align:middle;
  
}

.btn-xs img {
  width: 20px;
}

.main {
  display: flex;
  justify-content: space-between;
}

.main-item {
  flex: 0 0 50%;
}
.main-item.sale .btn {
  padding: 10px 20px;
  border-radius: 20px;
  
}
.sale-description {
  font-size: 30px;
  letter-spacing: -0.6px;
}

.sale-title {
  font-size: 55px;
  font-weight: 700;
  margin-top: -20px;
  margin-bottom: 60px;
}

.box {
  position: relative;
}

.box-image {
  width: 350px;
  height: 250px;
}

.box-price {
  position: absolute;
  right: 0;
  top: 35px;
  text-align: right;
}

.box-price-old {
  font-size: 24px;
  font-weight: 700;
}

.box-price-new {
  font-size: 42px;
  font-weight: 700;
  color: #d84033;
  margin-top: 17px;
}

.notice {
  text-align: center;
}

.notice-title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 400;
  color: #fff;
  padding: 20px 0;
}

.notice-title span {
  font-weight: 700;
}

.notice-description {
  font-size: 20px;
  color: #fff;
}

.collection {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.collection-item {
  flex: 0 0 calc(50% - 15px);
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 130px 130px;
}

.collection-boys {
  background-image: url("/img/Boys.png");
}

.collection-girls {
  background-image: url("/img/Girls.png");
}

.collection-title {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}

.collection-description {
  font-size: 16px;
  margin-bottom: 30px;
}

.collection-content {
  display: flex;
  align-items: center;
}

.product {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.product-item img {
  width: 200px;
  height: 200px;
}

.product-title {
  font-weight: 600;
}

.product-price {
  color: #D7B399;
  font-size: 24px;
  font-weight: 700;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.footer-logo {
  flex: 0 0 0%;
}

.footer-logo img {
  width: 300px;
  height: auto;
}

.footer-nav {
  flex: 0 0 60%;
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}

.footer-list {
  list-style-type: none;
  padding-left: 0;
}

.footer-title {
  font-size: 14px;
  font-weight: 700;
}

.footer-item {
  margin-bottom: 10px;
  margin-right: 20px;
}

.footer-link {
  color: #CBCFD4;
  text-decoration: none;
  font-size: 12px;
}
.footer-item img, .footer-item i {
    width: 20px; 
    height: 20px; 
    vertical-align: middle;
    margin-right: 5px;
}


.footer {
  color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  flex: 0 0 auto;
  margin-bottom: 40px; 
}
.footer .copyright {
  font-size: 12px;
  margin-top: 0px;
  text-align: center;
}
.color {
  background-color: #ff1500;
  background-clip: text;
  color: transparent; 
}












.container{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: uppercase;
}

.container{
    min-height: 100vh;
    background: #fff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    padding-bottom: 60px;
}

.container form{
    background: #F9F6F1;
    border-radius: 5px;
    box-shadow: 0 10px 15px rgba(0,0,0,.1);
    padding: 20px;
    width: 600px;
    padding-top: 160px;
}

.container form .inputBox{
    margin-top: 20px;
}

.container form .inputBox span{
    display: block;
    color:#999;
    padding-bottom: 5px;
}

.container form .inputBox input,
.container form .inputBox select{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border:1px solid rgba(0,0,0,.3);
    color:#444;
}

.container form .flexbox{
    display: flex;
    gap:15px;
}

.container form .flexbox .inputBox{
    flex:1 1 150px;
}

.container form .submit-btn{
    width: 100%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    margin-top: 20px;
    padding: 10px;
    font-size: 20px;
    color:#fff;
    border-radius: 10px;
    cursor: pointer;
    transition: .2s linear;
}

.container form .submit-btn:hover{
    letter-spacing: 2px;
    opacity: .8;
}

.container .card-container{
    margin-bottom: -150px;
    position: relative;
    height: 250px;
    width: 400px;
}

.container .card-container .front{
    position: absolute;
    height: 90%;
    width: 100%;
    top: 0; left: 0;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    padding:20px;
    transform:perspective(1000px) rotateY(0deg);
    transition:transform .4s ease-out;
}

.container .card-container .front .image{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-top: 10px;
}

.container .card-container .front .image img{
    height: 50px;
}

.container .card-container .front .card-number-box{
    padding:30px 0;
    font-size: 22px;
    color:#fff;
}

.container .card-container .front .flexbox{
    display: flex;
}

.container .card-container .front .flexbox .box:nth-child(1){
    margin-right: auto;
}

.container .card-container .front .flexbox .box{
    font-size: 15px;
    color:#fff;
}

.container .card-container .back{
    position: absolute;
    top:0; left: 0;
    height: 90%;
    width: 110%;
    background:linear-gradient(45deg, blueviolet, deeppink);
    border-radius: 5px;
    padding: 20px 0;
    text-align: right;
    backface-visibility: hidden;
    box-shadow: 0 15px 25px rgba(0,0,0,.2);
    transform:perspective(1000px) rotateY(180deg);
    transition:transform .4s ease-out;
}

.container .card-container .back .stripe{
    background: #000;
    width: 100%;
    margin: 10px 0;
    height: 50px;
}

.container .card-container .back .box{
    padding: 0 20px;
}

.container .card-container .back .box span{
    color:#fff;
    font-size: 15px;
}

.container .card-container .back .box .cvv-box{
  
    height: 50px;
    padding: -1px;
    margin-top: 5px;
    color:#333;
    background: #fff;
    border-radius: 5px;
    width: 100%;
}

.container .card-container .back .box img{
    margin-top: 30px;
    height: 30px;
}